    .parallax-container {
        height: 70%;
    }

    #head {
        background-image: url("images/BackImg1.jpg");
        height: 400px;
        min-width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    #cardPres {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 0px;
        color: #272727;
    }

    #divText {
        background-color: #f3f3f3;
        color: #272727;
        width: 90%;
    }

    #centrer {
        display: flex;
        justify-content: center;
    }

    #divComp {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 0px;
        color: #272727;
        align-items: center;
    }

    .comp {
        background-color: #f3f3f3;
        color: #272727;
    }

    .dComp {
        background-color: #f3f3f3;
        color: #272727;
        width: 50%;
    }

    #all {
        overflow: hidden;
    }

    #ExpFromation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #fff;
        color: #272727;
        padding-bottom: 3%;
    }

    #divExpPro {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e4521b;
        padding-bottom: 2%;
        border-radius: 5%;
    }

    #formation {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e4521b;
        color: #272727;
        border-radius: 5%;
        font-size: 140%;
    }

    .divExP {
        display: flex;
        flex-direction: column;
        width: 90%;
        font-size: 140%;
    }

    #bFormations {
        text-align: center;
        color: #fff;
    }

    #bExP {
        color: #fff;
    }

    .lbExP {
        font-size: 180%;
        color: #f3f3f3;
    }

    #divFormationsDate {
        display: flex;
        align-items: center;
        height: 70%;
    }

    .dForm {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #dInteret {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        background-color: #fff;
    }

    #bigTitre,
    #bInteret {
        color: #272727;
    }

    /*

    Timeline!!!

    */
    .bodyTimeline {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .mesExp {
        display: flex;
        flex-wrap: wrap;
    }

    .expg {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-right: 2px solid #3d3b3b;
        padding-right: 5%;
        position: relative;

    }

    .expd {
        width: 50%;
        display: flex;
        flex-direction: column;
        border-left: 2px solid #3d3b3b;
        padding-left: 5%;
    }

    .listeExP>li {
        margin: 1%;
    }

    .expg::before {
        content: '';
        color: #333;
        width: 40px;
        height: 40px;
        background: #333;
        border-radius: 20px;
        z-index: 4;
        position: absolute;
        top: 60px;
        right: -23px;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .car {
        width: auto !important;
        height: 450px;
    }

    .carousel,
    .carousel-item {
        width: 100% !important;
        height: 550px !important;
    }

    #infoContact {
        display: flex;
        flex-direction: row;
        float: right;
    }

    .page-footer {
        background-color: #f3f3f3 !important;
    }

    @media (max-width: 700px) {

        /* lorsque la largeur passe sous les 700 px */
        .body {
            width: 100%;
            /* le body occupe 100 % de l'espace */
        }

        #formation,
        #divExpPro {
            width: 100%;
            margin-top: 2%;
        }

        #ExpFromation {
            flex-direction: column;
        }

        .dComp,
        #divText {
            width: 100%;
        }
    }